---
apiVersion: mcp.kagenti.com/v1alpha1
kind: MCPServerRegistration
metadata:
  name: test-server3
  namespace: mcp-test
  labels:
    'kagenti/mcp': 'true'
spec:
  toolPrefix: test3_
  targetRef:
    # Server 3 - Python FastMCP based (time, add, dozen, pi, get_weather, slow)
    group: gateway.networking.k8s.io
    kind: HTTPRoute
    name: mcp-server3-route
---
apiVersion: mcp.kagenti.com/v1alpha1
kind: MCPServerRegistration
metadata:
  name: api-key-server
  namespace: mcp-test
  labels:
    'kagenti/mcp': 'true'
spec:
  toolPrefix: apikey_
  targetRef:
    # API key test server - validates Bearer token authentication
    group: gateway.networking.k8s.io
    kind: HTTPRoute
    name: mcp-api-key-server-route
  credentialRef:
    name: api-key-server-credentials
    key: token
---
apiVersion: mcp.kagenti.com/v1alpha1
kind: MCPServerRegistration
metadata:
  name: custom-path-server
  namespace: mcp-test
  labels:
    'kagenti/mcp': 'true'
spec:
  # custom path - this server uses /v1/special/mcp instead of /mcp
  path: /v1/special/mcp
  toolPrefix: custompath_
  targetRef:
    # custom path server - tests non-standard mcp endpoint paths
    group: gateway.networking.k8s.io
    kind: HTTPRoute
    name: mcp-custom-path-server
---
apiVersion: mcp.kagenti.com/v1alpha1
kind: MCPServerRegistration
metadata:
  name: oidc-server
  namespace: mcp-test
  labels:
    'kagenti/mcp': 'true'
spec:
  # Validates OpenID Connect (OIDC) Bearer tokens issued by a configured OIDC provider
  toolPrefix: oidc_
  targetRef:
    group: gateway.networking.k8s.io
    kind: HTTPRoute
    name: mcp-oidc-server-route
  credentialRef:
    name: oidc-server-credentials
    key: admin_token
---
apiVersion: mcp.kagenti.com/v1alpha1
kind: MCPServerRegistration
metadata:
  name: everything-server
  namespace: mcp-test
  labels:
    'kagenti/mcp': 'true'
spec:
  toolPrefix: everything_
  targetRef:
    # MCP Everything Server - Typescript SDK based (prompts, tools, resources, sampling)
    group: gateway.networking.k8s.io
    kind: HTTPRoute
    name: everything-server-route
---
apiVersion: mcp.kagenti.com/v1alpha1
kind: MCPServerRegistration
metadata:
  name: custom-response
  namespace: mcp-test
  labels:
    'kagenti/mcp': 'true'
spec:
  toolPrefix: custom_resp_
  targetRef:
    # MCP Everything Server - Typescript SDK based (prompts, tools, resources, sampling)
    group: gateway.networking.k8s.io
    kind: HTTPRoute
    name: mcp-custom-response-route
