---
apiVersion: mcp.kagenti.com/v1alpha1
kind: MCPServerRegistration
metadata:
  name: test-server1
  namespace: mcp-test
  labels:
    'kagenti/mcp': 'true'
spec:
  # Tool prefix applied to all servers in this MCPServer
  toolPrefix: test1_
  targetRef:
    # Server 1 - Go SDK based (hi, time, slow, headers tools)
    group: gateway.networking.k8s.io
    kind: HTTPRoute
    name: mcp-server1-route
---
apiVersion: mcp.kagenti.com/v1alpha1
kind: MCPServerRegistration
metadata:
  name: test-server2
  namespace: mcp-test
  labels:
    'kagenti/mcp': 'true'
spec:
  toolPrefix: test2_
  targetRef:
    # Server 2 - Go SDK based (hello_world, time, headers, auth1234, slow tools)
    group: gateway.networking.k8s.io
    kind: HTTPRoute
    name: mcp-server2-route
