---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: mcp-broker-router
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: mcp-broker-router
rules:
  - apiGroups: ['']
    resources: ['configmaps']
    resourceNames: ['mcp-gateway-config']
    verbs: ['get', 'watch']
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: mcp-broker-router
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: mcp-broker-router
subjects:
  - kind: ServiceAccount
    name: mcp-broker-router
